.bg{
    background-image: url('../images/banner.png')
    height: 650px;
    /* position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}